In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from pandas import Series

In [4]:
from pandas import DataFrame

In [5]:
obj = Series([3,6,9,12])

obj

0     3
1     6
2     9
3    12
dtype: int64

In [6]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
ww2_cas = Series([8700000,4300000,2100000,400000, 300000],index=['USSR','Germany','China','Japan','USA'])

In [9]:
ww2_cas

USSR       8700000
Germany    4300000
China      2100000
Japan       400000
USA         300000
dtype: int64

In [10]:
ww2_cas.index[0]

'USSR'

In [11]:
ww2_cas['USA']

300000

In [12]:
# CHECK WHICH COUNTRIES HAD CASUALTIES GREATER THAN FOUR MILLION

ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [13]:
'USSR' in ww2_cas

True

### Converting a series to a dictionery

In [14]:
ww2_dict = ww2_cas.to_dict()

In [15]:
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 2100000,
 'Japan': 400000,
 'USA': 300000}

### cONVERTING DICTIONERY BACK TO SERIES

In [16]:
ww2_series = Series(ww2_dict)

In [17]:
ww2_series

USSR       8700000
Germany    4300000
China      2100000
Japan       400000
USA         300000
dtype: int64

###

In [18]:
countries = ['China','Germany','Japan','USA','USSR','Arg']

In [19]:
obj2 = Series(ww2_dict,index=countries)

obj2

China      2100000.0
Germany    4300000.0
Japan       400000.0
USA         300000.0
USSR       8700000.0
Arg              NaN
dtype: float64

In [20]:
pd.isnull(obj2)

China      False
Germany    False
Japan      False
USA        False
USSR       False
Arg         True
dtype: bool

In [21]:
pd.notnull(obj2)

China       True
Germany     True
Japan       True
USA         True
USSR        True
Arg        False
dtype: bool

In [22]:
ww2_series

USSR       8700000
Germany    4300000
China      2100000
Japan       400000
USA         300000
dtype: int64

###  Adding objects to series

In [23]:
obj2

China      2100000.0
Germany    4300000.0
Japan       400000.0
USA         300000.0
USSR       8700000.0
Arg              NaN
dtype: float64

In [24]:
ww2_series + obj2

Arg               NaN
China       4200000.0
Germany     8600000.0
Japan        800000.0
USA          600000.0
USSR       17400000.0
dtype: float64

### Giving objects and strings names

In [25]:
obj2.name = 'World war 2 casualties'

In [26]:
obj2

China      2100000.0
Germany    4300000.0
Japan       400000.0
USA         300000.0
USSR       8700000.0
Arg              NaN
Name: World war 2 casualties, dtype: float64

In [27]:
obj2.index.name = 'Countries'

In [28]:
obj2

Countries
China      2100000.0
Germany    4300000.0
Japan       400000.0
USA         300000.0
USSR       8700000.0
Arg              NaN
Name: World war 2 casualties, dtype: float64