In [1]:
import pandas as pd

In [2]:
# pip install xlrd
#pip install openpyxl

In [3]:
xlsfile = pd.ExcelFile('Book1.xlsx')

In [9]:
dframe = xlsfile.parse('Sheet1')

In [10]:
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365

In [6]:
# thats how you import excel files using pandas, for more shenanigans see panda documentation