In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [2]:
#import pandas testing facility
import pandas.util.testing as tm; 

tm.N = 3

#CREAT AN UNPIVOTED FUNCTION
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value':frame.values.ravel('F'),
           'variable':np.asarray(frame.columns).repeat(N),
           'date':np.tile(np.asarray(frame.index), K)}
    
    #RETURN THE DATAFRAME
    return DataFrame(data, columns=['date','variable','value'])

#set the dataframe we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

<ipython-input-2-55a21011628c>:2: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm;

In [3]:
dframe

          date variable     value
0   2000-01-03        A -1.708884
1   2000-01-04        A -0.508254
2   2000-01-05        A  1.036095
3   2000-01-06        A  0.931909
4   2000-01-07        A -1.404119
..         ...      ...       ...
115 2000-02-07        D  0.182540
116 2000-02-08        D -1.622591
117 2000-02-09        D -1.984996
118 2000-02-10        D -0.167979
119 2000-02-11        D -0.061279

[120 rows x 3 columns]

In [4]:
#pivoting the data
#dframe_piv = dframe.pivot('rows','columns','fill_values')

In [5]:
dframe_piv = dframe.pivot('date','variable','value')

In [6]:
dframe_piv

variable           A         B         C         D
date
2000-01-03 -1.708884  0.195205  0.470969  0.630098
2000-01-04 -0.508254 -1.321557  1.310119 -0.567540
2000-01-05  1.036095  0.220910 -1.358675 -0.601442
2000-01-06  0.931909  1.310158 -0.107425 -0.092522
2000-01-07 -1.404119 -0.316264 -0.556908 -1.227163
2000-01-10  0.167861 -0.671771  0.761257 -0.136029
2000-01-11  0.839001  1.425606  0.541519  0.401542
2000-01-12 -0.253963  1.330705  1.303754 -1.935106
2000-01-13 -1.342844  0.121872 -0.049553 -0.657458
2000-01-14 -0.247426  1.034487  1.392197  1.929237
2000-01-17  0.264977 -0.213646  1.269037 -0.315866
2000-01-18 -0.990388  0.299822 -1.094660 -0.360743
2000-01-19 -0.152394 -0.391723 -1.073424  0.621058
2000-01-20  0.896230 -1.255321  1.116100 -0.471836
2000-01-21 -0.960150  1.676280  0.064549 -0.347894
2000-01-24  1.817067 -0.191074 -0.512158 -0.144851
2000-01-25 -1.424161  0.835431 -0.285064 -0.351499
2000-01-26  0.545798  1.930479 -1.856237  0.394775
2000-01-27 -0.075714  1.471534  0.738264  1.199972
2000-01-28 -0.958824 -0.298784  0.808806  0.500693
2000-01-31  1.431293 -0.671704  1.079334  0.070528
2000-02-01  2.298761 -0.589292 -0.714724  1.372140
2000-02-02 -0.501832 -0.132428 -0.132561  0.146336
2000-02-03  0.579844 -0.316453  0.098253  0.567709
2000-02-04  0.303219  1.285574  0.230539 -0.662309
2000-02-07 -1.279100  0.285809 -1.107781  0.182540
2000-02-08 -0.720367 -0.824876 -0.247830 -1.622591
2000-02-09 -0.135622 -0.863560 -2.140875 -1.984996
2000-02-10 -0.604323  1.088071 -0.833603 -0.167979
2000-02-11 -1.074239  0.018975 -0.854968 -0.061279